
*
	margin 0
	padding 0

link()
	text-decoration none
	&:hover
		cursor pointer

button()
	background-color black
	color white
	link()
	arial-black()

arial-black()
	font-weight bold
	font-style italic
	font-family Arial Black

clean-input()
	border none
	outline none
