    body
      {margin:auto;max-width:900px;width:900px;background-image:url(bottom.png);background-repeat:repeat-x;background-position:bottom;min-height:1000px;}


    /* Header */

    div.header
      {margin:auto;width:900px;padding-left:225px;}
    ul.menu
      {list-style-type:none;margin:0;padding:0;overflow:hidden;margin:auto;width:225px;}
    a.HQM
      {display:block;max-width:225px;min-width:225px;height:30px;font-weight:bold;color:#5C5C5C;text-align:center;padding:0px;text-decoration:none;text-transform:uppercase;font-size:30px;font-family:"Andale Mono", sans-serif;}

    a:link.HQM,a:visited.HQM
      {width:225px;height:30px;opacity:1;filter:alpha(opacity=100);}
    a:link.HQM1 img,a:visited.HQM1 img
      {opacity:1;filter:alpha(opacity=100);}


    a:hover.HQM,a:hover.HQM
      {width:225px;height:30px;opacity:0.6;filter:alpha(opacity=60);}
    a:active.HQM1 img,a:active.HQM1 img
      {opacity:0.6;filter:alpha(opacity=60);}


    .trigger ul.menu
      {width:225px;display:none;position:absolute;margin:30px;list-style:none;}
    .trigger:hover ul.menu
      {display:block;}
    li.trigger
      {float:left;border:none;}
    ul.header
      {list-style-type:none;padding:0;overflow:hidden;margin-top:-55px;width:900px;}
    li.Underthing
      {width:225px;height:30px;text-decoration:none;background-color:#FFFFFF;opacity:1;filter:alpha(opacity=100);border-width:1px;border-color:#999999;}
    li.Underthing a
      {display:block;width:225px;height:30px;font-weight:bold;color:#5C5C5C;text-align:center;padding:0px;margin-left:-30px;text-decoration:none;text-transform:uppercase;font-size:30px;font-family:"Andale Mono", sans-serif;border-width:1px;border-color:#999999}
    li:hover.Underthing,li:active.Underthing
      {opacity:0.6;filter:alpha(opacity=60);margin-left:0;}


    div.barmenu
      {height:80px;width:225px;margin-left:-20px}
    img.barmenu
      {height:100%;width:100%}

    /* End Header */