body, html, body * {
	margin: 0;
	padding: 0;
}

.circle {
	border-radius:50%;
	vertical-align:middle;
	display:inline;
}


.nameLineTag {
	display:inline-block;
	margin-left: 1%;
	vertical-align:middle;
}

#name {
	/*margin:0 auto;*/
	font-family: futura;
	font-style: italic;
	font-size:100px;
	line-height: 1em;
}

#Line-nameTag {
	/*margin-top: 0%;
	border: 1px solid black;*/
	width:150%;
	height: 0.15em;
    padding: 0;
    background-color: black;
    border: 0;

}

#tag-nameLine {
	margin-top:10px;
	margin-right: 10px;
	margin-bottom: 30px;
    background-color: #cbcbcb;
    color: white;
    padding: 7px 12.5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: futura;
    font-style: italic;
}
#tag-nameLine:hover {
	background-color:#a7a7a7;
}

.descriptionText {
	font-family: futura;
	font-size: 20px;
	font-style: italic;
	width: 600px;
	margin-bottom: 20px;
}

#socialLink {
	font-style: italic;
	font-family: futura;
	text-decoration: none;
	color:black;
	line-height: 1em;
	vertical-align: middle;
}
#socialLink span {
	margin-top: 10px;
	font-size: 20px;
}
#socialLink img {
	width:30px;
	vertical-align: middle;
}