---
layout: default
---

<img src="{{ site.path }}/assets/images/authorphoto.png" class="circle" alt="userphoto" style="width:250px">

<div class="nameLineTag">
	<div id="name">{{ site.author.name }}</div>
	<hr id="Line-nameTag">
	{% for tag in site.author.tags %}
	<a id="tag-nameLine" href="url">{{ tag }}</a>
	{% endfor %}
</div>

<div class="descriptionText">
{{ content }}
</div>

<div class="links">
	<a id="socialLink" href="url">
		<img src="{{ site.path }}/assets/images/lettericon.png" alt="mail">
		<span>E-mail</span>
	</a>
	</br>
		<a id="socialLink" href="url">
		<img src="{{ site.path }}/assets/images/instagram_logo.png" alt="mail">
		<span>Instagram</span>
	</a>
</div>
