<!DOCTYPE html>
<html>
<head>
	<style type="text/css"></style>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta charset="utf-8" />
	<title>{{ page.title }} - {{ site.title }}</title>
	<link rel="shortcut icon" href="{{ '/favicon.ico' | relative_url }}" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="{{ '/assets/css/main.css' | relative_url }}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-beta/katex.min.css" integrity="sha384-L/SNYu0HM7XECWBeshTGLluQO9uVI1tvkCtunuoUbCHHoTH76cDyXty69Bb9I0qZ" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-beta/katex.min.js" integrity="sha384-ad+n9lzhJjYgO67lARKETJH6WuQVDDlRfj81AJJSswMyMkXTD49wBj5EP004WOY6" crossorigin="anonymous"></script>
</head>
<body>

<div id="content">
	{{- content -}}
</div>

<script type="text/javascript">
	// https://github.com/gettalong/kramdown/issues/292#issuecomment-313266061
	// KaTeX Support
	document.querySelectorAll("script[type='math/tex']").forEach(function(el) {
		el.outerHTML = katex.renderToString(el.textContent, { displayMode: false });
	});

	document.querySelectorAll("script[type='math/tex; mode=display']").forEach(function(el) {
		el.outerHTML = katex.renderToString(el.textContent.replace(/%.*/g, ''), { displayMode: true });
	});
</script>

</body>
</html>
