<!DOCTYPE html>
<html>
<head>
	<style type="text/css"></style>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta charset="utf-8" />
	<title>{{ page.title }} - {{ site.title }}</title>
	<link rel="shortcut icon" href="{{ '/favicon.ico' | relative_url }}" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="{{ '/css/main.css' | relative_url }}" />
</head>
<body>

{% if page.author_block %}
	{% for author in site.data.authors %}
		{% if page.author_block.slug == author.slug %}
			{% include author_block.html size=page.author_block.size author=author %}
		{% endif %}
	{% endfor %}
{% endif %}

<div id="content">
	{{ content }}
</div>

</body>
</html>
